<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.leapframework.org/schema/config">
    
    <base-package>hello</base-package>

    <properties prefix="oauth2">
        <property name="enabled"        value="false"/>
        <property name="server_url"     value="http://localhost:8088"/>
        <property name="client_id"      value="client1"/>
        <property name="client_secret"  value="secret2"/>
    </properties>

</config>